@page
@model IndexModel
@{
    ViewData["Title"] = "Home page HEllo";
}

<div class="text-center">
    <h1 class="display-4">Welcome Applicaiton Verisonb 4</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core Fahad</a>.</p>
</div>
